<footer>
  <div class="footer-container">
    <div class="footer-nav">
      <a href="#">About</a>
      <a href="#">Blog</a>
      <a href="#">Team</a>
      <a href="#">Pricing</a>
      <a href="#">Contact</a>
      <a href="#">Terms</a>
    </div>
    <div class="footer-social">
      <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-link"><i class="fab fa-github"></i></a>
    </div>
    <p class="footer-text">© 2021 SomeCompany, Inc. All rights reserved.</p>
  </div>
</footer>
