<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" alt="BlockHub Logo">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
    </div>
    <div class="footer-column">
      <h4>Company</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">How to work?</a></li>
        <li><a href="#">Popular Course</a></li>
        <li><a href="#">Service</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Courses</h4>
      <ul>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Online Course</a></li>
        <li><a href="#">Video Course</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Support</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
    <div class="footer-column contact-info">
      <h4>Contact Info</h4>
      <ul>
        <li>+0913-705-3875</li>
        <li>123@gmail.com</li>
        <li>Almaty, Kazakhstan</li>
      </ul>
    </div>
  </div>
  <div class="copy-right">
    © 2024
  </div>
</footer>
