<div class="container">
  <div class="controls">
    <div class="buttons-container">
      <button class="tab-button active">Все курсы</button>
      <button class="tab-button">На русском</button>
      <button class="tab-button">На казахском</button>
    </div>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Поиск курсов...">
      <button class="search-btn">
        <i></i>
      </button>
    </div>
  </div>
</div>
<div class="cards">
  <div class="card" *ngFor="let course of coursesList">
    <div class="card-content">
      <h2>{{ course.name }}</h2>
      <p class="price">{{ course.name}} Т/мес</p>
      <p class="duration">{{ course.durationInMonths }} months</p>
      <div class="info">
        <p>{{ course.level }}</p>
        <p>{{ course.language }}</p>
      </div>
    </div>
    <div class="card-image">
      <img src="https://optim.tildacdn.com/stor3936-6465-4937-b866-626661366437/-/resize/600x600/-/format/webp/89901019.jpg">
    </div>
  </div>
</div>
<div class="space-below"></div>
