body{
  font-family: 'Euclid Circular A', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.controls {
  margin-top: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.buttons-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.search-btn{
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-left: none;
  border-radius: 0 10px 20px 0;
  background-color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

@media (max-width: 600px) {
  .controls {
    justify-content: flex-start;
  }
  .search-container {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}


.tab-button {
  background-color: #FFFFFF;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
  padding: 10px 20px;
  outline: none;
}
.tab-button:hover {
  background-color: #F0F0F0;
}
.tab-button.active {
  background-color: #000;
  color: #FFFFFF;
  border-color: #000;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #CCCCCC;
  border-radius: 20px 0 0 20px; /* Скругление только левых углов */
  outline: none;
}

.search-button {
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-left: none; /* Убрать левую границу, которая сливается с input */
  border-radius: 0 20px 20px 0; /* Скругление только правых углов */
  background-color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

.search-button .fas {
  color: #333333;
}

.cards {
  min-height: 500px;  /* Примерное значение, настраивайте по вашим нуждам */
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch; /* Add this line */
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space out the content */
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px; /* Ширина карточки */
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  flex-direction: column; /* New line */
  height: 100%; /* New line: make the card content fill the parent height */
  padding: 20px;
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.card-content .price {
  color: #007BFF;
  font-size: 19px;
  margin: 0;
}

.card-content .duration {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.card-content .info p {
  background: #f2f2f2;
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
  margin: 5px 5px 5px 0;
  padding: 5px 15px;
}

.card-image {
  background: url('/assets/course1.jpg') no-repeat center center;
  background-size: cover;
  height: 200px; /* Высота изображения */
}

.card-image img {
  max-width: 100%; /* Изображение будет уменьшаться, если необходимо, но не станет больше своего естественного размера */
  height: auto; /* Сохраняет пропорции изображения */
}


.space-below {
  height: 80px;
}



