header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 0;
}

.container {
  max-width: 1200px; /* Set a max-width for the container */
  margin: auto;
  padding: 0 15px; /* Add some padding on the sides */
}


.logo img {
  height: 40px; /* Adjust as per the actual logo size */
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px; /* Adjust the space between the links as needed */
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333; /* Adjust navbar item color as needed */

}

.sign-in-btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-btn:hover {
  background-color: #000; /* Darken the button on hover */
}
