<header>
  <nav class="container">
    <div class="logo">
      <a routerLink="home">
        <img src="assets/logo.png" alt="BlockHub Logo">
      </a>
    </div>
    <ul class="nav-links" *ngIf="!authority">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="contact">Contact us</a></li>
      <li><a routerLink="courses">Courses</a></li>
      <li><a routerLink="contact">News & Events</a></li>

    </ul>
    <div class="auth-and-profile"  [class.open]="dropdownOpen" (click)="toggleDropdown()">
      <a *ngIf="authority">
        <div class="user-profile">
          <div class="user-name">
            <div>Ержан</div>
            <div>Ашимов</div>
          </div>
          <div class="user-image">
            <img src="assets/user-default-img.png" alt="User image">
          </div>
        </div>
      </a>
      <div class="dropdown-content" *ngIf="dropdownOpen && authority">
        <a routerLink="/my-courses">Мои курсы</a>
        <a routerLink="profile">Профиль</a>
        <a routerLink="/my-purchases">Новости</a>
        <a routerLink="/my-purchases">Игра</a>
        <a routerLink="/my-purchases">Мои покупки</a>
        <a routerLink="/courses">Все курсы</a>
        <a routerLink="/my-purchases" (click)="logout()">Logout</a>
      </div>
      <button *ngIf="!authority" routerLink="auth/login" class="sign-in-btn">Sign in</button>
    </div>

  </nav>
</header>
