.main-section{
  height: 95vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #5D5A6F;
}

.fancy-text {
  text-align: center;
  position: relative;
  font-size: 12px;
}

.fancy-text::before,
.fancy-text::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 150px;
  height: 1.5px;
}

.fancy-text::before {
  left: 50px;
  background-color: #2a83ff;
  background: linear-gradient(to left, #2a83ff, transparent);
  transform-origin: left;
  transform: scaleX(0.5);
}

.fancy-text::after {
  right: 50px;
  background: linear-gradient(to right, #2a83ff, transparent);
  transform-origin: right;
  transform: scaleX(0.5);
}

.container {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
  width: 900px;
  background-color: white;
  align-items: center;
}

.image-container,
.form-container {
  flex: 1;
  padding: 20px;
}

.image-container {
  position: relative;
}

.items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-logo {
  width: 24px;
  height: 24px;
}

.image-text {
  margin-left: 25px;
  max-width: 60%;
  top: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.image-container img {
  width: 90%;
  height: auto;
  display: block;
}

.form-container {
  background-color: #fff;
  border-left: 1px solid #ccc;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

label {
  margin-top: 10px;
}

input,
button {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-btn {
  background-color: #2a83ff;
  color: #fff;
  font-weight: 500;
}

input:focus,
button:focus {
  outline: none;
  border-color: #007bff;
}

input[type="checkbox"]:checked {
  border-color: #9C4DF4;
}

a {
  text-decoration: none;
  color: #2a83ff;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.login-success {
  text-align: center;
  background: white;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-success h1 {
  color:  #4D2C5E;
}

.login-success p {
  color: #333;
  margin: 20px 0;
}

.dashboard-link {
  display: inline-block;
  text-decoration: none;
  background:  #4D2C5E;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background 0.3s;
}

.dashboard-link:hover {
  background:  #4D2C5E;
}
