<div class="container" >
  <div class="contacts">
    <div class="contact-info">
      <h2>Контактная информация</h2>
      <p>📞 +7 777 555 63 63</p>
      <p>📧 demo@gmail.com</p>
      <p>📍 Казахстан, город Алматы, ул. Жандосова</p>
      <ul class="social-icons">
        <li><img src="assets/twitter-icon.png" alt="Twitter"></li>
        <li><img src="assets/instagram-icon.png" alt="Instagram"></li>
        <li><img src="assets/linkedin-icon.png" alt="LinkedIn"></li>
      </ul>
    </div>
    <div class="contact-form">
      <h2>Связаться с нами</h2>
      <p>У вас есть вопросы или замечания? Просто напишите нам сообщение!</p>
      <form (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        <div class="form-field">
          <label for="firstName">Имя</label>
          <input type="text" id="firstName" [(ngModel)]="form.firstName" name="firstName" required>
        </div>
        <div class="form-field">
          <label for="lastName">Фамилия</label>
          <input type="text" id="lastName" [(ngModel)]="form.lastName" name="lastName" required>
        </div>
        <div class="form-field">
          <label for="email">Почта</label>
          <input type="email" id="email" [(ngModel)]="form.email" name="email" required>
        </div>
        <div class="form-field">
          <label for="phone">Номер Телефона</label>
          <input type="tel" id="phone" [(ngModel)]="form.phones" name="phone">
        </div>
        <div class="form-field">
          <label for="message">Сообщение</label>
          <textarea id="message" [(ngModel)]="form.message" name="message"></textarea>
        </div>
        <div class="button-container">
          <button type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>

