<div class="container">
  <div class="hero-container">
    <div class="text-box">
      <div class="content">
        <h1>Будущее в ваших руках</h1>
        <p>Освоите Blockchain за короткий срок вместе с BlockHub</p>
        <button class="choose-course-btn" routerLink="/courses">Выбрать курс</button>
      </div>
    </div>
    <div class="video-box">
      <video class="video-content" autoplay loop muted>
        <source src="assets/blockchain.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>

<div class="container">
  <div class="courses-section">
    <h2>Наши курсы</h2>
    <div class="course-categories">
      <button class="category-btn"
              [class.active]="activeCategory === 'С нуля'"
              (click)="filterCoursesByCategory('С нуля')">С нуля</button>
      <button class="category-btn"
              [class.active]="activeCategory === 'Начинающий'"
              (click)="filterCoursesByCategory('Для начинающих')">Начинающий</button>
      <button class="category-btn"
              [class.active]="activeCategory === 'Продвинутый'"
              (click)="filterCoursesByCategory('Для продвинутых')">Продвинутый</button>
    </div>
    <div class="courses-container">
      <ng-container *ngIf="filteredCourses$ | async as courses">
        <div *ngFor="let course of courses | slice:0:3" class="course-card">
          <div class="course-tag">{{ course.level }}</div>
          <h3 class="course-title">{{ course.name }}</h3>
          <div class="course-duration">{{ course.durationInMonths }}</div>
          <div class="course-format">Online</div>
          <div class="course-image">
            <img src="assets/course1.jpg" alt="Project Management">
          </div>
        </div>
      </ng-container>
    </div>
    <div class="view-all-btn-container">
      <button class="view-all-btn" routerLink="/courses">Посмотреть все курсы</button>
    </div>
  </div>
</div>


<div class="container">
  <div class="testimonials-section">
    <h2>Отзывы выпускников</h2>
    <div class="testimonial-cards-container">

      <div class="testimonial-card">
        <div class="testimonial-header">
          <img src="assets/Yerzhan.jpg" alt="Student Name" class="testimonial-image">
          <div>
            <h3 class="student-name">Ержан Ашимов</h3>
            <p class="student-course">курс "Блокчейн в бизнесе"</p>
          </div>
        </div>
        <div class="testimonial-text">
          <p>Курс очень интересный и познавательный. Отдельное спасибо нашему ментору, очень интересно вела курс. Хотелось бы также чтобы были курсы связанные с ...</p>
        </div>
      </div>

      <div class="testimonial-card">
        <div class="testimonial-header">
          <img src="assets/Ramazan.jpg" alt="Student Name" class="testimonial-image">
          <div>
            <h3 class="student-name">Рамазан Калабай</h3>
            <p class="student-course">курс "Блокчейн с нуля"</p>
          </div>
        </div>
        <div class="testimonial-text">
          <p>Курс очень интересный и познавательный. Отдельное спасибо нашему ментору, очень интересно вела курс. Хотелось бы также чтобы были курсы связанные с ...</p>
        </div>
      </div>

      <div class="testimonial-card">
        <div class="testimonial-header">
          <img src="assets/Yernar.jpg" alt="Student Name" class="testimonial-image">
          <div>
            <h3 class="student-name">Орысбаев Ернар</h3>
            <p class="student-course">курс "Продвинутый Блокчейн"</p>
          </div>
        </div>
        <div class="testimonial-text">
          <p>Курс очень интересный и познавательный. Отдельное спасибо нашему ментору, очень интересно вела курс. Хотелось бы также чтобы были курсы связанные с ...</p>
        </div>
      </div>

    </div>
    <div class="testimonials-navigation">
      <button class="nav-button prev-button">‹</button>
      <button class="nav-button next-button">›</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="contact-section">
    <div class="contact-text">
      <h2>Если у вас остались вопросы — мы поможем</h2>
    </div>
    <div class="contact-form">
      <input type="text" placeholder="Ваше имя" class="name-input">
      <input type="text" placeholder="+7 (999) 999-99-99" class="phone-input">
      <button type="submit" class="contact-btn">Свяжитесь со мной</button>
    </div>
  </div>
</div>
